* {
  font-family: "Inter", sans-serif;
}

html {
  scroll-behavior: smooth;
}

h1 {
  padding-top: 2rem; 
}

#logo {
  transition: opacity 0.2s ease-in-out;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

nav a,
#typing,
#aboutBtn,
#skillsBtn,
#workBtn {
  color: #333;
  transition: color 0.3s ease-in-out;
}

#typing {
  min-height: 1em;
  display: inline-block;
}

#aboutBtn:hover,
#skillsBtn:hover,
#workBtn:hover {
  color: #000;
  transform: scale(1.1);
  transition: color 0.2s ease-in-out, transform 0.2s ease-in-out;
}

#gtkm {
  background-image: url('img/podium.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#gtkm .flex-col img {
  max-width: 100%; /* Ensure the image fits within the container */
  height: auto; /* Maintain the original aspect ratio */
}

.skill-card:hover,
.work-card:hover {
  transform: scale(1.05);
  transition: transform 0.2s ease-in-out;
  cursor: pointer;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

nav a:last-child {
  margin-left: auto;
  display: inline-block;
}

/* #menuToggle {
  display: none;
  position: fixed;
  top: 1rem;
  right: 4rem;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1.5rem;
  z-index: 1100;
} */

#contactBtn {

}

#menuToggle {
  position: absolute;
  top: 50%;
  right: -3rem; /* Adjust this value to control spacing from the contactBtn */
  transform: translateY(-50%);
  z-index: 1100;
}

/* Media Query for Small Screens (max-width: 1024px) */
@media (max-width: 1024px) {
  body {
    overflow-y: scroll;
  }

  #menu {
    display: none;
    flex-direction: column;
    align-items: center;
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    justify-content: center;
    transition: all 0.3s ease-in-out;
    z-index: 1000;
  }

  #menu.active {
    display: flex; /* Show menu when active */
    background-color: rgb(0, 0, 0, 0.9);
    padding: 2rem;
  }

  #menu a {
    /* Add padding above and below each <a> */
    display: block;
    padding: 1rem 0;
    width: 100%;
    text-align: center;
    color: #d7d7d7;
    font-size: 1.5rem;
    margin: 1rem 0;
    transition: color 0.2s ease-in-out;
    box-sizing: border-box;
    border: solid #d7d7d7;
    border-width: 0 0 1px;
  }

  #menu a:hover {
    color: #f6f6f6;
  }

  #menuClose {
    position: absolute;
    top: 1rem;
    right: 1rem; /* Ensure it does not overlap with #menuToggle */
    background: none;
    border: none;
    cursor: pointer;
    font-size: 1rem;
    color: #f6f6f6;
    z-index: 1100;
  }

  #menuToggle {
    position: absolute;
    top: 50%;
    right: -3rem; /* Adjust this value for small screens */
    transform: translateY(-50%);
    z-index: 1100;
  }

  #menu.active + #menuToggle {
    display: none; /* Ensure it is hidden when the menu is active */
  }

  #gtkm {
    background-image: none; /* Remove the background image */
  }
  #gtkm .flex-col {
    flex-direction: column; /* Stack description and image vertically */
  }

  #gtkm-info {
    margin-bottom: 1rem; /* Add spacing between description and image */
    text-align: center;
  }
}

/* Media Query for Large Screens (min-width: 1024px) */
@media (min-width: 1024px) {
  nav {
    /* background-color: rgb(246, 246, 246, 0.4); */
    z-index: 999;
  }

  section {
    height: 100vh;
    overflow: hidden; /* To ensure only one section is visible at a time */
  }

  .container {
    overflow: hidden;
  }
  
  #menu {
    position: static;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    height: auto;
    width: auto;
    transition: none;
  }

  #menu a {
    color: #333;
    font-size: 1rem;
    margin: 0 1rem;
    text-decoration: none;
  }

  #menuClose {
    display: none;
  }

  #menuToggle {
    display: none; /* Hide the menu toggle icon for larger screens */
  }

  #portrait img {
    display: none; /* Remove the background image */
}

/* @media (max-width: 640px) {
  
  #gtkm {
    background-image: none;
  }
  #gtkm .flex-col {
    flex-direction: column;
  }

  #gtkm-info {
    margin-bottom: 1rem;
  }
} */

/* body {
  margin: auto;
  color:#333;
  overflow: auto;
  background: linear-gradient(315deg, rgb(185, 185, 185) 3%, rgb(234, 244, 255) 38%, rgb(255, 240, 240) 68%);
  animation: gradient 15s ease infinite;
  background-size: 400% 400%;
  background-attachment: fixed;
} */

@keyframes gradient {
  0% {
      background-position: 0% 0%;
  }
  50% {
      background-position: 100% 100%;
  }
  100% {
      background-position: 0% 0%;
  }
}

.wave {
  background: rgb(255 255 255 / 25%);
  border-radius: 1000% 1000% 0 0;
  position: fixed;
  width: 200%;
  height: 12em;
  animation: wave 10s -3s linear infinite;
  transform: translate3d(0, 0, 0);
  opacity: 0.8;
  bottom: 0;
  left: 0;
  z-index: -1;
}

.wave:nth-of-type(2) {
  bottom: -1.25em;
  animation: wave 18s linear reverse infinite;
  opacity: 0.8;
}

.wave:nth-of-type(3) {
  bottom: -2.5em;
  animation: wave 20s -1s reverse infinite;
  opacity: 0.9;
}

@keyframes wave {
  2% {
      transform: translateX(1);
  }

  25% {
      transform: translateX(-25%);
  }

  50% {
      transform: translateX(-50%);
  }

  75% {
      transform: translateX(-25%);
  }

  100% {
      transform: translateX(1);
  }
}